@font-face {
  font-family: 'Bravura';
  src: 
    url(assets/BravuraText.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  /* Render only musical symbols:
  https://en.wikipedia.org/wiki/Miscellaneous_Symbols */
  unicode-range: U+2669-266F;
}

:root {
  --font-color: rgb(219, 219, 219);
  --background-color: rgb(49, 49, 49);
  --border-highlight-color: #646cff;
  --root-note-color: #d3970a;
  --activated-note-color: #8bc21d;
  --interact-color: rgb(20, 20, 20);
}

* {
  font-family: 'Bravura', monospace, sans-serif;
  color: var(--font-color);

  box-sizing: border-box;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: -1px;

  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

.divider {
  background-color: var(--interact-color);
  display: flex;
  flex: 1;
  margin-left: 35%;
  margin-right: 35%;
  height: 1px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.container-row {
  display: flex;
  flex: 1;
  justify-content: center;
}

.container-col {
  display: flex;
  flex: 1;
  justify-content: center;
}

.custom-select {
  display: flex;
  flex: 1;
}

.custom-select input {
  position: absolute;
  opacity: 0;
  appearance: none;
}

.custom-select input:checked ~ .custom-select-label {
  background-color: var(--border-highlight-color);
}

.interact {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 1px;
  height: 40px;

  cursor: pointer;
  background-color: var(--interact-color);
  border: 1px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}
.interact:hover {
  border-color: var(--border-highlight-color);
  transition: border-color 0s;
}
.interact:active {
  border-color: white;
  transition: border-color 0s;
}

.action-button {
  font-size: 1.6em;
  display: flex;
  border-radius: 50%;
  margin: 6px;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.8s, background-color 0.8s!important;
}
.action-button:active {
  background-color: white;
  box-shadow: 0px 0px 10px 5px white;
  transition: box-shadow 0s, background-color 0s!important;
}

.note {
  /* height: 50px; */
  transition: background-color 7s, box-shadow 7s!important;
  color: var(--interact-color);
}
.note:hover {
  transition: border-color 0s;
}
.note:active {
  background-color: var(--root-note-color);
  transition: all 0s!important;
}

.light-up {
  background-color: var(--activated-note-color);
  transition: all 0s !important;
}

.chordroot {
  background-color: var(--root-note-color) !important;
}